extends layout

block content
    .well.col-lg-12

        form.form-horizontal
          legend Create a New Game
          .form-group
            .col-lg-12
              label.control-label(for='gameName') Game Name
              input#gameName.form-control(type='text', placeholder='Game Name')
          .form-group
            .col-lg-12
              label.control-label(for='playerName') Player Name
              input#playerName.form-control(type='text', placeholder='Player Name')
          .form-group
            .col-lg-12
              button.btn.btn-default(type='reset') Cancel
              a#createGame.btn.btn-primary(src='#') Create Game

    script(src='/javascript/room.js')