doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.yeti.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/jquery/jquery.js')
    script(src='/javascript/bootstrap.min.js')
    script(src='/javascript/layout.js')
  body
    .bs-component
      .navbar.navbar-default
        .container-fluid
          .navbar-header
            a.navbar-brand= title
    .container-fluid
      block content
    .footer




