extends layout


block content
  .container-fluid
      .player-list.col-md-3
        panel.panel-primary
          .panel-heading
            .panel-title Players
          .panel-body
            ul.list-group
              li.list-group-item
                .h4.name Bob
                .badge 35
              li.list-group-item
                .h4.name Jim
                .badge 12
              li.list-group-item.active
                .h4.name Omar
                h4.badge 97
      .game-area.col-md-4
        .container-fluid
          .panel-primary
            .panel-heading
              .panel-title Game Play
            .panel-body
              .container-fluid
                .clipzone
                  img.die.die-4(src='images/dice-26772_640.png')
                .clipzone
                  img.die.die-6(src='images/dice-26772_640.png')
              .container-fluid
                .h3 Current score: 17
              .container-fluid
                button.btn.btn-primary Hold
                button.btn.btn-primary Roll Again
      .chat-area.col-md-5
        .container-fluid
          .panel-primary
            .panel-heading
              .panel-title Chat
            .panel-body
              .chat-list-container
                ul#messages
            .panel-body
              form.chat-form(action='')
                .form-group
                  input#m(autocomplete='off')
                  button.btn.btn-primary Send



  script(src='/socket.io/socket.io.js')
  script(src='/javascript/roomSample.js')
