extends layout


block content
  .container-fluid
      .player-list.col-md-3
        panel.panel-primary
          .panel-heading
            .panel-title Players
          .panel-body
            ul#player-list.list-group
              li.list-group-item
                h4.name Bob
                .badge 35
              li.list-group-item
                h4.name Jim
                .badge 12
              li.list-group-item.active
                h4.name Omar
                .badge 97
      .game-area.col-md-4
        .container-fluid
          .panel-primary
            .panel-heading
              .panel-title Game Play
            .panel-body
              .container-fluid
                .clipzone
                  img.die.die-4(src='images/dice-26772_640.png')
                .clipzone
                  img.die.die-6(src='images/dice-26772_640.png')
              .container-fluid
                .h3 Current score: 17
              .container-fluid
                button#hold.btn.btn-primary Hold
                button#roll-again.btn.btn-primary Roll Again
      .chat-area.col-md-5
        .container-fluid
          .panel-primary
            .panel-heading
              .panel-title Chat
            .panel-body
              .chat-list-container
                ul#messages
            .panel-body
              form.chat-form(action='')
                .form-group
                  input#m(autocomplete='off')
                  button.btn.btn-primary Send

  .overlay
    .modal-dialog.modal-content
      .modal-body
        form.form-horizontal(action='/room')
          legend Join the Game
          .form-group
            .col-lg-12
              label.control-label(for='playerName') Player Name
              input#playerName.form-control(type='text', placeholder='Player Name')
          .form-group
            .col-lg-12
              //a.btn.btn-default Cancel
              a#joinGame.btn.btn-primary(href='#') Join Game



  script(src='/socket.io/socket.io.js')
  script(src='/javascript/roomSample.js')
