extends layout


block content
  .container-fluid
      .player-list.col-md-3
        panel.panel-primary
          .panel-heading
            .panel-title Players
          .panel-body
            ul.list-group
              li.list-group-item
                .h4.name Bob
                .badge 35
              li.list-group-item
                .h4.name Jim
                .badge 12
              li.list-group-item.active
                .h4.name Omar
                h4.badge 97
      .game-area.col-md-4
        .container-fluid.well
          span game
      .chat-area.col-md-5
        .container-fluid
          .panel-primary
            .panel-heading
              .panel-title Chat
            .panel-body
              .chat-list-container
                ul#messages
            .panel-body
              form.chat-form(action='')
                .form-group
                  input#m(autocomplete='off')
                  button Send



  script(src='/socket.io/socket.io.js')
  script(src='/javascript/roomSample.js')
